.NavBar {
    background-color: #dadadf;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 4px;
    text-decoration: none;
    color: #231F20;
  }

  
  .Active i {
    color: #7EBDC2;
  }